.hljs{
    padding: 1em !important;
    line-height: 2 !important;
}

.reveal pre{
    width: 99.5% !important;
}

.left{text-align: left}
.right{text-align: right}
.center{text-align: center}

.alert-blue{
    /* border-left: 0.5em #337ab7 solid; */
    background-color: rgba(51,122,183, 0.801);
    color: white;
    font-size: 0.8em !important;
    padding: 0.5em !important;
}
.alert-green{
    /* border-left: 0.5em #5cb85c solid; */
    background-color: rgba(92,184,92, 0.801);
    color: white;
    font-size: 0.8em !important;
    padding: 0.5em !important;
}
.alert-red{
    /* border-left: 0.5em #d9534f solid; */
    background-color: rgba(217,83,79, 0.801);
    color: white;
    font-size: 0.8em !important;
    padding: 0.5em !important;
}
.alert-yellow{
    /* border-left: 0.5em #e7da5e solid; */
    background-color: rgba(231,218,94, 0.801);
    color: black;
    font-size: 0.8em !important;
    padding: 0.5em !important;
}